

<div class= "category__box">
<div class= "category">
  <%= image_tag group.icon, alt: "Icon", class: "group__img" %>
  <div>
    <h2><%= link_to group.name, group_entities_path(group) %></h2>
    <p><%= group.created_at.strftime("%a, %d %b %Y %H:%M") %></p>
  </div>
</div>
<div>
  <p class= "amount"><%= group.entities.sum(&:amount) %> $</p>
  <% if can? :manage, group %>
    <%= button_to "Delete", group, method: :delete, class: "btn-delete" %>
  <% end %>
</div>
</div>