<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%= link_to "Edit this category", edit_group_path(@group) %> |
  <%= link_to "Back to categories", groups_path %>

  <%= button_to "Destroy this category", @group, method: :delete %>
</div>
